Aqui algunos criterios segun la api de COINGENKO para elegir las 10 cryptos mas rentables, mas seguras, del mercado, basandonos para empezar por las 13 criptomonedas con mejor <strong>capitalizacion de mercado</strong>, como kpi principal de criptomonedas mas establecidas en el mercado, luego compararemos y analizaremos con los otros 2 KPIs, Volatilización en 30 dias, y Volumen de operaciones en 24hs, y cotejaremos luego con otra api como Binance api, y nos quedaremos con 10 criptomonedas estables, seguras y rentables, pero por ahora nos basamos en esta primera Información para un primer EDA con datos de hoy 25/8/23:

In [23]:
import pandas as pd
import requests

url = "https://api.coingecko.com/api/v3/coins/markets"
parametros = {
    "vs_currency": "usd",
    "order": "market_cap_desc",
    "per_page": 13,
    "page": 1
}
respuesta = requests.get(url, params=parametros)
top_13_monedas = respuesta.json()

# Crear una lista para almacenar los datos de todas las criptomonedas
filas_datos = []

for moneda in top_13_monedas:
    id_moneda = moneda["id"]
    url = f"https://api.coingecko.com/api/v3/coins/{id_moneda}?\
        localization=false&tickers=false&market_data=true&community_data=false&developer_data=false&sparkline=false"

    respuesta = requests.get(url)
    datos = respuesta.json()

    datos_mercado = datos.get("market_data")

    if datos_mercado:
        datos_filtrados = {
            "id": id_moneda,
            "simbolo": datos.get("symbol"),
            "nombre": datos.get("name"),
            "fecha_genesis": datos.get("genesis_date"),
            "porcentaje_votos_positivos": datos.get("sentiment_votes_up_percentage"),
            "porcentaje_votos_negativos": datos.get("sentiment_votes_down_percentage"),
            "usuarios_lista_seguimiento": datos.get("watchlist_portfolio_users"),
            "ranking_cap_mercado": datos.get("market_cap_rank"),
            "ranking_coingecko": datos.get("coingecko_rank"),
            "puntuacion_coingecko": datos.get("coingecko_score"),
            "puntuacion_desarrollador": datos.get("developer_score"),
            "puntuacion_comunidad": datos.get("community_score"),
            "puntuacion_liquidez": datos.get("liquidity_score"),
            "puntuacion_interes_publico": datos.get("public_interest_score"),
            "precio_actual_usd": datos_mercado["current_price"]["usd"],
            "precio_maximo_historico_usd": datos_mercado["ath"]["usd"],
            "precio_minimo_historico_usd": datos_mercado["atl"]["usd"],
            "capitalizacion_mercado_usd": datos_mercado["market_cap"]["usd"],
            "valoracion_total_diluida_usd": datos_mercado["fully_diluted_valuation"]["usd"],
            "volumen_total_usd": datos_mercado["total_volume"]["usd"],
            "alto_24h_usd": datos_mercado["high_24h"]["usd"],
            "bajo_24h_usd": datos_mercado["low_24h"]["usd"],
            "cambio_precio_24h_usd": datos_mercado["price_change_24h_in_currency"]["usd"],
            "oferta_total": datos_mercado["total_supply"],
            "oferta_maxima": datos_mercado["max_supply"],
            "oferta_circulante": datos_mercado["circulating_supply"]
        }
    else:
        datos_filtrados = {
            "id": id_moneda,
            "simbolo": datos.get("symbol"),
            "nombre": datos.get("name"),
            "fecha_genesis": datos.get("genesis_date"),
            "porcentaje_votos_positivos": datos.get("sentiment_votes_up_percentage"),
            "porcentaje_votos_negativos": datos.get("sentiment_votes_down_percentage"),
            "usuarios_lista_seguimiento": datos.get("watchlist_portfolio_users"),
            "ranking_cap_mercado": datos.get("market_cap_rank"),
            "ranking_coingecko": datos.get("coingecko_rank"),
            "puntuacion_coingecko": datos.get("coingecko_score"),
            "puntuacion_desarrollador": datos.get("developer_score"),
            "puntuacion_comunidad": datos.get("community_score"),
            "puntuacion_liquidez": datos.get("liquidity_score"),
            "puntuacion_interes_publico": datos.get("public_interest_score"),
        }

    filas_datos.append(datos_filtrados)

# Crear el DataFrame utilizando la lista de datos filtrados
df = pd.DataFrame(filas_datos)

# Rellenar valores nulos con "Sin Dato"
df = df.fillna("Sin Dato")

"""aqui haremos parte del ETL:

Para columnas numéricas:

count: número de valores no nulos.
mean: media aritmética.
std: desviación estándar.
min: valor mínimo.
25%: percentil 25.
50%: mediana o percentil 50.
75%: percentil 75.
max: valor máximo.

Para columnas no numéricas (por ejemplo, tipo object o categorial):

count: número de valores no nulos.
unique: número de valores únicos.
top: valor más común.
freq: frecuencia del valor más común."""

print("------------------------------")
print(df.info())
print("------------------------------")
print(df.describe(include="all"))
print("------------------------------")

# Mostrar el DataFrame resultante
df

------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            13 non-null     object
 1   simbolo                       13 non-null     object
 2   nombre                        13 non-null     object
 3   fecha_genesis                 13 non-null     object
 4   porcentaje_votos_positivos    13 non-null     float64
 5   porcentaje_votos_negativos    13 non-null     float64
 6   usuarios_lista_seguimiento    13 non-null     int64
 7   ranking_cap_mercado           13 non-null     int64
 8   ranking_coingecko             13 non-null     int64
 9   puntuacion_coingecko          13 non-null     float64
 10  puntuacion_desarrollador      13 non-null     float64
 11  puntuacion_comunidad          13 non-null     float64
 12  puntuacion_liquidez           13 non-null     float64
 13  puntuacion_interes_publico    13 non-null     float64
 14  precio_actual_usd             13 non-null     float64
 15  precio_maximo_historico_usd   13 non-null     float64
 16  precio_minimo_historico_usd   13 non-null     float64
 17  capitalizacion_mercado_usd    13 non-null     int64
 18  valoracion_total_diluida_usd  13 non-null     int64
 19  volumen_total_usd             13 non-null     int64
 20  alto_24h_usd                  13 non-null     float64
 21  bajo_24h_usd                  13 non-null     float64
 22  cambio_precio_24h_usd         13 non-null     float64
 23  oferta_total                  13 non-null     float64
 24  oferta_maxima                 13 non-null     object
 25  oferta_circulante             13 non-null     float64
dtypes: float64(15), int64(6), object(5)
memory usage: 2.8+ KB
None
------------------------------
             id simbolo   nombre fecha_genesis  porcentaje_votos_positivos  \
count        13      13       13            13                   13.000000
unique       13      13       13             6                         NaN
top     bitcoin     btc  Bitcoin      Sin Dato                         NaN
freq          1       1        1             8                         NaN
mean        NaN     NaN      NaN           NaN                   63.023846
std         NaN     NaN      NaN           NaN                    8.243376
min         NaN     NaN      NaN           NaN                   50.000000
25%         NaN     NaN      NaN           NaN                   56.760000
50%         NaN     NaN      NaN           NaN                   62.640000
75%         NaN     NaN      NaN           NaN                   71.340000
max         NaN     NaN      NaN           NaN                   75.280000

        porcentaje_votos_negativos  usuarios_lista_seguimiento  \
count                    13.000000                1.300000e+01
unique                         NaN                         NaN
top                            NaN                         NaN
freq                           NaN                         NaN
mean                     36.976154                5.554007e+05
std                       8.243376                3.793178e+05
min                      24.720000                1.311900e+04
25%                      28.660000                2.843760e+05
50%                      37.360000                5.457560e+05
75%                      43.240000                6.429900e+05
max                      50.000000                1.332576e+06

        ranking_cap_mercado  ranking_coingecko  puntuacion_coingecko  ...  \
count              13.00000          13.000000             13.000000  ...
unique                  NaN                NaN                   NaN  ...
top                     NaN                NaN                   NaN  ...
freq                    NaN                NaN                   NaN  ...
mean                7.00000          42.076923             60.682154  ...
std                 3.89444          75.841349             13.433677  ...
min                 1.00000           1.000000             34.763000  ...
25%                 4.00000           4.000000             53.898000  ...
50%                 7.00000           7.000000             62.536000  ...
75%                10.00000          28.000000             65.857000  ...
max                13.00000         253.000000             83.151000  ...

        precio_minimo_historico_usd  capitalizacion_mercado_usd  \
count                     13.000000                1.300000e+01
unique                          NaN                         NaN
top                             NaN                         NaN
freq                            NaN                         NaN
mean                      42.758518                7.151974e+10
std                      133.551380                1.407163e+11
min                        0.000087                5.044980e+09
25%                        0.003144                8.305622e+09
50%                        0.432979                1.376775e+10
75%                        0.877647                3.340871e+10
max                      482.900000                5.050306e+11

        valoracion_total_diluida_usd  volumen_total_usd  alto_24h_usd  \
count                   1.300000e+01       1.300000e+01     13.000000
unique                           NaN                NaN           NaN
top                              NaN                NaN           NaN
freq                             NaN                NaN           NaN
mean                    7.770484e+10       3.487282e+09   2290.331382
std                     1.500434e+11       5.916364e+09   7210.105123
min                     5.413377e+09       8.099196e+06      0.063030
25%                     8.768438e+09       2.258807e+08      0.521617
50%                     1.376775e+10       2.891211e+08      1.003000
75%                     5.161121e+10       4.228341e+09    219.050000
max                     5.447832e+11       1.889024e+10  26200.000000

        bajo_24h_usd  cambio_precio_24h_usd  oferta_total  oferta_maxima  \
count      13.000000              13.000000  1.300000e+01             13
unique           NaN                    NaN           NaN              7
top              NaN                    NaN           NaN       Sin Dato
freq             NaN                    NaN           NaN              7
mean     2256.706017              -5.997899  3.815571e+10            NaN
std      7105.608220              20.433245  4.875684e+10            NaN
min         0.061847             -73.971919  8.377332e+06            NaN
25%         0.508245              -0.561367  1.538562e+08            NaN
50%         0.997937              -0.002641  1.000000e+10            NaN
75%       214.120000               0.000046  8.284913e+10            NaN
max     25820.000000               0.044358  1.407365e+11            NaN

        oferta_circulante
count        1.300000e+01
unique                NaN
top                   NaN
freq                  NaN
mean         3.369858e+10
std          4.535229e+10
min          8.377332e+06
25%          1.538562e+08
50%          9.319469e+09
75%          5.291419e+10
max          1.407367e+11

[11 rows x 26 columns]
------------------------------

,id,simbolo,nombre,fecha_genesis,porcentaje_votos_positivos,porcentaje_votos_negativos,usuarios_lista_seguimiento,ranking_cap_mercado,ranking_coingecko,puntuacion_coingecko,...,precio_minimo_historico_usd,capitalizacion_mercado_usd,valoracion_total_diluida_usd,volumen_total_usd,alto_24h_usd,bajo_24h_usd,cambio_precio_24h_usd,oferta_total,oferta_maxima,oferta_circulante
0,bitcoin,btc,Bitcoin,2009-01-03,62.64,37.36,1332576,1,1,83.151,...,67.810000,505030574172,544783224467,11974189042,26200.000000,25820.000000,-73.971919,2.100000e+07,21000000.0,1.946764e+07
1,ethereum,eth,Ethereum,2015-07-30,64.24,35.76,1194497,2,2,78.783,...,0.432979,197849580349,197849580349,7668853299,1664.660000,1639.700000,-1.065531,1.202164e+08,Sin Dato,1.202164e+08
2,tether,usdt,Tether,Sin Dato,58.82,41.18,284376,3,150,41.416,...,0.572521,82796042091,82796042091,18890240113,1.002000,0.997937,-0.000754,8.284913e+10,Sin Dato,8.284913e+10
3,binancecoin,bnb,BNB,2017-07-08,61.11,38.89,642990,4,5,65.446,...,0.039818,33408710562,43428501964,389985536,219.050000,214.120000,-0.289542,1.538562e+08,200000000.0,1.538562e+08
4,ripple,xrp,XRP,Sin Dato,71.34,28.66,569532,5,3,66.223,...,0.002686,27309653511,51611206141,876955466,0.521617,0.508245,0.000749,9.998849e+10,100000000000.0,5.291419e+10
5,usd-coin,usdc,USD Coin,Sin Dato,64.29,35.71,109857,6,28,53.898,...,0.877647,25858060864,25860644208,4228341284,1.003000,0.997858,0.000468,2.586451e+10,Sin Dato,2.586193e+10
6,staked-ether,steth,Lido Staked Ether,Sin Dato,50.00,50.00,13119,7,253,34.763,...,482.900000,13767754578,13767754578,8099196,1661.590000,1635.270000,-2.121614,8.377332e+06,8377331.887799,8.377332e+06
7,cardano,ada,Cardano,Sin Dato,75.28,24.72,724993,8,7,62.536,...,0.019253,9117212644,11707071626,225880745,0.269557,0.259564,-0.004600,4.500000e+10,45000000000.0,3.504502e+10
8,dogecoin,doge,Dogecoin,2013-12-08,56.60,43.40,506468,9,6,65.012,...,0.000087,8768456377,8768438309,236883449,0.063030,0.061847,-0.000338,1.407365e+11,Sin Dato,1.407367e+11
9,solana,sol,Solana,Sin Dato,56.76,43.24,554139,10,4,65.857,...,0.500801,8305621520,11316593747,289121126,21.040000,20.290000,-0.561367,5.558187e+08,Sin Dato,4.079337e+08
10,tron,trx,TRON,2017-08-28,52.17,47.83,227878,11,13,60.859,...,0.001804,6853620904,6853638449,197909900,0.077328,0.076247,0.000046,8.937757e+10,Sin Dato,8.937734e+10
11,polkadot,dot,Polkadot,Sin Dato,71.74,28.26,514028,12,9,62.064,...,2.700000,5646382365,6006848289,100811187,4.480000,4.360000,0.044358,1.348810e+09,Sin Dato,1.267869e+09
12,matic-network,matic,Polygon,Sin Dato,74.32,25.68,545756,13,66,48.860,...,0.003144,5044980095,5413377154,247389497,0.551440,0.536517,-0.002641,1.000000e+10,10000000000.0,9.319469e+09

In [24]:

# Guardar todos los datos en un único archivo CSV
df.to_csv("KPIs_coingecko_kpis.csv", index=False)

In [25]:
df['ranking_coingecko'] = pd.to_numeric(df['ranking_coingecko'], errors='coerce')
# 1. Ordenar por 'ranking_coingecko'
df_ordenado_ranking_coingecko = df.sort_values(by='ranking_coingecko', ascending=True).head(10)[['nombre', 'ranking_coingecko']]

df['puntuacion_coingecko'] = pd.to_numeric(df['puntuacion_coingecko'], errors='coerce')
# 2. Ordenar por 'puntuacion_coingecko'
df_ordenado_puntuacion_coingecko = df.sort_values(by='puntuacion_coingecko', ascending=False).head(10)[['nombre', 'puntuacion_coingecko']]

df['capitalizacion_mercado_usd'] = pd.to_numeric(df['capitalizacion_mercado_usd'], errors='coerce')
#3. Ordenar por 'capitalizacion_mercado_usd' 
df_ordenado_capitalizacion_mercado_usd = df.sort_values(by='capitalizacion_mercado_usd', ascending=False).head(10)[['nombre', 'capitalizacion_mercado_usd']]

df['ranking_cap_mercado'] = pd.to_numeric(df['ranking_cap_mercado'], errors='coerce')
# 4. Ordenar por 'ranking_cap_mercado'
df_ordenado_ranking_cap_mercado = df.sort_values(by='ranking_cap_mercado', ascending=True).head(10)[['nombre', 'ranking_cap_mercado']]

df['puntuacion_liquidez'] = pd.to_numeric(df['puntuacion_liquidez'], errors='coerce')
# 5. Ordenar por 'puntuacion_liquidez'
df_ordenado_puntuacion_liquidez = df.sort_values(by='puntuacion_liquidez', ascending=False).head(10)[['nombre', 'puntuacion_liquidez']]

df['puntuacion_comunidad'] = pd.to_numeric(df['puntuacion_comunidad'], errors='coerce')
# 6. Ordenar por 'puntuacion_comunidad' 
df_ordenado_puntuacion_comunidad = df.sort_values(by='puntuacion_comunidad', ascending=False).head(10)[['nombre', 'puntuacion_comunidad']]

df['porcentaje_votos_positivos'] = pd.to_numeric(df['porcentaje_votos_positivos'], errors='coerce')
# 7. Ordenar por 'porcentaje_votos_positivos' 
df_ordenado_porcentaje_votos_positivos = df.sort_values(by='porcentaje_votos_positivos', ascending=False).head(10)[['nombre', 'porcentaje_votos_positivos']]

df['usuarios_lista_seguimiento'] = pd.to_numeric(df['usuarios_lista_seguimiento'], errors='coerce')
# 8. Ordenar por 'usuarios_lista_seguimiento'
df_ordenado_usuarios_lista_seguimiento = df.sort_values(by='usuarios_lista_seguimiento', ascending=False).head(10)[['nombre', 'usuarios_lista_seguimiento']]

df['puntuacion_interes_publico'] = pd.to_numeric(df['puntuacion_interes_publico'], errors='coerce')
# 9. Ordenar por 'puntuacion_interes_publico'
df_ordenado_puntuacion_interes_publico = df.sort_values(by='puntuacion_interes_publico', ascending=False).head(10)[['nombre', 'puntuacion_interes_publico']]

df['volumen_total_usd'] = pd.to_numeric(df['volumen_total_usd'], errors='coerce')
# 10. Ordenar por 'volumen_total_usd'
df_ordenado_volumen_total_usd = df.sort_values(by='volumen_total_usd', ascending=False).head(10)[['nombre', 'volumen_total_usd']]

In [26]:
df_ordenado_ranking_coingecko

      nombre  ranking_coingecko
0    Bitcoin                  1
1   Ethereum                  2
4        XRP                  3
9     Solana                  4
3        BNB                  5
8   Dogecoin                  6
7    Cardano                  7
11  Polkadot                  9
10      TRON                 13
5   USD Coin                 28

In [27]:
df_ordenado_puntuacion_coingecko

      nombre  puntuacion_coingecko
0    Bitcoin                83.151
1   Ethereum                78.783
4        XRP                66.223
9     Solana                65.857
3        BNB                65.446
8   Dogecoin                65.012
7    Cardano                62.536
11  Polkadot                62.064
10      TRON                60.859
5   USD Coin                53.898

In [28]:
df_ordenado_capitalizacion_mercado_usd

              nombre  capitalizacion_mercado_usd
0            Bitcoin                505030574172
1           Ethereum                197849580349
2             Tether                 82796042091
3                BNB                 33408710562
4                XRP                 27309653511
5           USD Coin                 25858060864
6  Lido Staked Ether                 13767754578
7            Cardano                  9117212644
8           Dogecoin                  8768456377
9             Solana                  8305621520

In [29]:
df_ordenado_ranking_cap_mercado

              nombre  ranking_cap_mercado
0            Bitcoin                    1
1           Ethereum                    2
2             Tether                    3
3                BNB                    4
4                XRP                    5
5           USD Coin                    6
6  Lido Staked Ether                    7
7            Cardano                    8
8           Dogecoin                    9
9             Solana                   10

In [30]:
df_ordenado_puntuacion_liquidez

      nombre  puntuacion_liquidez
2     Tether              101.651
0    Bitcoin              100.011
1   Ethereum               95.183
5   USD Coin               87.410
4        XRP               81.070
9     Solana               74.593
3        BNB               73.073
7    Cardano               72.124
12   Polygon               68.532
10      TRON               67.924

In [31]:
df_ordenado_puntuacion_comunidad

               nombre  puntuacion_comunidad
0             Bitcoin                83.341
1            Ethereum                72.746
8            Dogecoin                71.666
3                 BNB                61.771
7             Cardano                58.753
4                 XRP                51.794
9              Solana                50.646
10               TRON                47.880
11           Polkadot                44.057
6   Lido Staked Ether                33.667

In [32]:
df_ordenado_porcentaje_votos_positivos

      nombre  porcentaje_votos_positivos
7    Cardano                       75.28
12   Polygon                       74.32
11  Polkadot                       71.74
4        XRP                       71.34
5   USD Coin                       64.29
1   Ethereum                       64.24
0    Bitcoin                       62.64
3        BNB                       61.11
2     Tether                       58.82
9     Solana                       56.76

In [33]:
df_ordenado_usuarios_lista_seguimiento

      nombre  usuarios_lista_seguimiento
0    Bitcoin                     1332576
1   Ethereum                     1194497
7    Cardano                      724993
3        BNB                      642990
4        XRP                      569532
9     Solana                      554139
12   Polygon                      545756
11  Polkadot                      514028
8   Dogecoin                      506468
2     Tether                      284376

In [34]:
df_ordenado_puntuacion_interes_publico

               nombre  puntuacion_interes_publico
3                 BNB                      11.364
1            Ethereum                       0.236
9              Solana                       0.104
0             Bitcoin                       0.073
12            Polygon                       0.053
5            USD Coin                       0.033
2              Tether                       0.029
6   Lido Staked Ether                       0.023
7             Cardano                       0.023
4                 XRP                       0.022

In [35]:
df_ordenado_volumen_total_usd

      nombre  volumen_total_usd
2     Tether        18890240113
0    Bitcoin        11974189042
1   Ethereum         7668853299
5   USD Coin         4228341284
4        XRP          876955466
3        BNB          389985536
9     Solana          289121126
12   Polygon          247389497
8   Dogecoin          236883449
7    Cardano          225880745

Eleccion de Criptomonedas Resultante:

**BTC (Bitcoin)**
- **Por qué es buena:** Bitcoin es la primera criptomoneda y es ampliamente reconocida como la principal moneda digital descentralizada. Su adopción masiva y la percepción de ser una reserva de valor le han otorgado el apodo de "oro digital".
- **Tecnología subyacente:** Utiliza una cadena de bloques (blockchain) de prueba de trabajo (PoW, Proof of Work) para procesar y verificar transacciones.
- **De qué se trata:** Bitcoin fue creado por una entidad anónima llamada Satoshi Nakamoto en 2008 y es una moneda digital descentralizada sin intermediarios.

**ETH (Ethereum)**
- **Por qué es buena:** Ethereum introdujo el concepto de contratos inteligentes al mundo de las criptomonedas, permitiendo la creación de aplicaciones descentralizadas (DApps, Aplicaciones Descentralizadas).
- **Tecnología subyacente:** También utiliza blockchain, pero a diferencia de Bitcoin, Ethereum está diseñado para soportar aplicaciones descentralizadas y contratos inteligentes.
- **De qué se trata:** Creado por Vitalik Buterin en 2015, Ethereum es una plataforma que permite a los desarrolladores crear y ejecutar contratos inteligentes y DApps.

**XRP (Ripple)**
- **Por qué es buena:** Ripple está enfocado en hacer que las transferencias transfronterizas sean rápidas y baratas.
- **Tecnología subyacente:** No utiliza blockchain en el sentido tradicional. En su lugar, utiliza un protocolo de consenso distribuido.
- **De qué se trata:** Ripple es tanto una plataforma como una moneda, y tiene el objetivo de permitir transferencias internacionales rápidas y de bajo costo.

**MATIC (Polygon)**
- **Por qué es buena:** Polygon busca solucionar los problemas de escalabilidad de Ethereum y mejorar su usabilidad al transformarlo en una blockchain multi-cadena.
- **Tecnología subyacente:** Es una capa de solución de segunda cadena que utiliza una combinación de redes PoS (Proof of Stake, Prueba de Participación) y PoA (Proof of Authority, Prueba de Autoridad).
- **De qué se trata:** Anteriormente conocido como Matic Network, Polygon proporciona herramientas escalables y compatibles con Ethereum para desarrolladores de DApps y empresas.

**SOL (Solana)**
- **Por qué es buena:** Solana ofrece soluciones de alto rendimiento y baja latencia para aplicaciones cripto.
- **Tecnología subyacente:** Solana utiliza una combinación de PoH (Proof of History, Prueba de Historia) y PoS (Proof of Stake, Prueba de Participación) para mejorar la velocidad y eficiencia de las transacciones.
- **De qué se trata:** Solana es una blockchain de alto rendimiento que busca proporcionar la infraestructura para DApps y criptomonedas descentralizadas.

**ADA (Cardano)**
- **Por qué es buena:** Cardano se describe a sí mismo como una blockchain de tercera generación y se centra en la sostenibilidad, interoperabilidad y escalabilidad.
- **Tecnología subyacente:** Utiliza un algoritmo PoS (Proof of Stake, Prueba de Participación) llamado Ouroboros.
- **De qué se trata:** Creado por uno de los co-fundadores de Ethereum, Charles Hoskinson, Cardano es una blockchain y plataforma de contrato inteligente basada en investigación académica.

**DOGE (Dogecoin)**
- **Por qué es buena:** Aunque comenzó como una broma, Dogecoin ha ganado popularidad por su comunidad activa y es utilizado frecuentemente para dar propinas y donaciones.
- **Tecnología subyacente:** Se basa en el código fuente de Litecoin y utiliza PoW (Proof of Work, Prueba de Trabajo).
- **De qué se trata:** Originalmente creado como una parodia de las criptomonedas basado en el meme "Doge", ha crecido en popularidad y ha sido adoptado en varias campañas benéficas y esfuerzos de crowdfunding.

**BNB (Binance Coin)**
- **Por qué es buena:** Originalmente creada como una token de utilidad para el intercambio Binance, se ha expandido en uso y valor.
- **Tecnología subyacente:** Inicialmente se lanzó en Ethereum, pero luego migró a su propia cadena de bloques, Binance Chain.
- **De qué se trata:** BNB fue creada por Binance, uno de los intercambios de criptomonedas más grandes del mundo, y se utiliza principalmente para pagar tarifas dentro de la plataforma

.